*{
  margin: 0;
  padding: 0;
  font-family: Arial;
  border: border-box;
}

.navbar{
  height: 60px;
  background-color: #0f1111;
  color : white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .nav-logo {
  height:50px;
  width:100px;
}
.logo{
  background-image: url("amazon_logo.jpg");
  background-clip: cover ;
  height:50px;
  width:100px;
} */
.border {
  border: 2px solid transparent;
}
.border:hover{
  border: 2px solid white;
}
.nav-address{
  margin-left: 1100px;
  margin-right: 15px;
}
.add-first {
  color: #cccccc;
  font-size: 0.85rem;
}
.add-sec{
  font-size: 1rem;
  margin-left: 3px;

}
.add-icon {
  display: flex;
  align-items: center ;
}
/* 
.nav-search{
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 3px;
}
.search-select{
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input{
  width: 100%;
  font-size: 1rem;
  border: none;

}
.search-icon{
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;

}
.nav-search  :hover{
  border: 2px solid orange;
} */  
.nav-signin a{
  text-decoration: none;
  color: white;
}
 .nav-signin p{
  margin-right: 15px;
}
span{
  /* margin-left: 1120px; */
  font-size: 0.7rem;
}

.nav-second{
  /* margin-left:1140px ; */
  font-size: 0.85rem;
  font-weight: 700;
}







.nav-cart i{
  font-size: 30px;
}
.nav-cart{
  margin-left: 15px;
  font-size: 0.85rem;
  font-weight: 700;
}
.panel{

  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panel-ops p{
  display: inline;
  margin-left: 15px;
}
.panel-all a{
  color: white;
  text-decoration: none ;
}
.panle-ops{
  width: 70%;
  font-size: 0.85rem;

}
.panel-ops a{
  text-decoration: none;
  color: white;
}
.panel-deals{
  font-size: 0.9rem;
  font-weight: 700;
}
.hero-section{
  background-image:url(hero.jpg) ;
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;



}
.hero-msg{
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center ;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 25px;


}
.hero-msg a{
  color: #007185;
}




.shop-section{
  z-index: -1;
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
  border-radius: 10px;
}
.box:hover{
  box-shadow: 0 0 10px 0px rgb(121, 97, 239),0 0 10px 8px rgb(121, 97, 239);
    animation: blink 1s infinite;
    background-color: whitesmoke;
}
.box{
  /* border: 2px solid black; */
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.box-img{
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content p{
  color: #007185;
  text-decoration: none;
}
.box-content a{
  text-decoration: none;
}


.box-1{
  height: 300px;
  width: 97%;
  margin-left: 20px;
  background-color: white;
  border-radius: 10px;

}
.box-1 img{
  border-radius: 10px;
}
.shop-section1{
  /* z-index: -1; */
  padding: 20px 0px 15px;
  height: 300px;
  background-color: #e2e7e6;
  border-radius: 10px;
}
.box-1 h2{
  padding-left: 10px;
  padding-top: 10px;

}
  
.box-img1{
  height: 230px;
  width: 200px;
  margin-right: 30px;
  margin-top: 10px;
}






.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.image-box {
  width: 125px;
  margin: 10px;
  text-align: center;
}

.image-box img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.image-box p {
  margin-top: 10px;
  font-size: 14px;
  color: #666;

}
.image-container a{
  text-decoration: none;
}
.image-box1 {
  width: 130%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.image-box1 a{
  text-decoration: none;
  color: #007185;
}

.image-box1 img {
  width: 130%;
  margin-left: 30px;
  margin-right: 30px;
  height: 300px;
  object-fit:unset;
  border-radius: 10px;
}


.sign_in{
  text-align: center;
  font-size: 13px;
}
.sign_in button{
  background-color: #ffbf00;
    width: 220px;
    border-radius: 5px;
    height: 25px;
    margin-top: 2px;
    border: none;
    color: black;
    font-size: 18px;
}
.sign_in a{
  color: #007185;
}
.back{
  background-color: #222f3d;
  color: white;
  text-align: center;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  display: block;
}
.box p{
  margin-top: 20px;
}
.box a{
  text-decoration: none;
  color: #007185;
}
.back a{
  text-decoration: none;
  color: white;
}
.nav-cart i{
  font-size: 30px;
}
.nav-cart{
  margin-left: 15px;
  font-size: 0.85rem;
  font-weight: 700;
}
.panel{

  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panel-ops p{
  display: inline;
  margin-left: 15px;
}
.panel-all a{
  color: white;
  text-decoration: none ;
}
.panle-ops{
  width: 70%;
  font-size: 0.85rem;

}
.panel-ops a{
  text-decoration: none;
  color: white;
}
.panel-deals{
  font-size: 0.9rem;
  font-weight: 700;
}

.shop-section{
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
  border-radius: 10px;
}

.box{
  /* border: 2px solid black; */
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.box-img{
  height: 300px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.box-img img{
   width: auto;
   height: auto;
   max-width: 100%;
   max-height: 100%;
   margin: auto;
   display: block;
   object-fit: cover;

}
.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content p{
  color: #007185;
  text-decoration: none;
}
.box-content a{
  text-decoration: none;
}



.sign_in{
  text-align: center;
  font-size: 13px;
}
.sign_in button{
  background-color: #ffbf00;
    width: 220px;
    border-radius: 5px;
    height: 25px;
    margin-top: 2px;
    border: none;
    color: black;
    font-size: 18px;
}
.sign_in a{
  color: #007185;
}
.back{
  background-color: #222f3d;
  color: white;
  text-align: center;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  display: block;
}

.box-content p{
  color: black;
}
.box-content button{
  text-align: center;
  margin-top: 10px;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  height: 20px;
  margin-left: 50px;
  width: 70%;
}

.slider{
  margin-top: 10px;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}
figure{
  position: relative;
  left: 0;
  width: 400%;
  animation:10s slide infinite ;
}
.slide{
  position: relative;
  width: 25%;
  float: left;
}
.slide img{
  height: 350px;
  border-radius: 10px;
  width: 100%;

}

.image-container-home {
  margin-top: 20px;
  margin-left: 1%;
  display: flex;
  width: 98%;
  height: 300px;
  background-color: azure;
  border-radius: 10px;

}
.back a{
  text-decoration: none;
  color: white;
}

.image-box-home {
  width: 240px;
  margin: 10px;
  margin-right: 20px;
  background-color: azure;
}

.image-box-home img {
  width: 240px;
  margin-top: 10px;
  margin: 5px;
  height: 250px; 
  border-radius: 10px;
}

.image-box-home span {
  font-size: 14px;
  color: black;
  margin-left: 50px;
  background-color: azure;
}
.bath{
  background-color: #ffefd5;
}



.slider1{
  margin-top: 10px;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}
figure{
  position: relative;
  left: 0;
  width: 400%;
  animation:10s slide infinite ;
}
.slide1{
  position: relative;
  width: 25%;
  float: left;
}
.slide1 img{
  height: 350px;
  border-radius: 10px;
  width: 100%;

}

.image-container-home1 {
  margin-top: 20px;
  margin-left: 1%;
  display: flex;

  width: 98%;
  height: 300px;

  border-radius: 10px;

}

.image-box-home1 {
  width: 240px;
  margin: 0px;

}

.image-box-home1 img {
  width: 240px;
  margin-top: 10px;
  margin: 5px;
  height: 250px; 
  border-radius: 10px;
}

.image-box-home1 span {
  font-size: 14px;
  color: black;
  margin-left: 50px;
 
}

.gym-hero img{
  width: 100%;
  margin-top: 20px;
}
.back a{
  text-decoration: none;
  color: white;
}
.box-content1 p{
  color: black;
}
.box-content1 button{
  text-align: center;
  margin-top: 10px;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  height: 20px;
  margin-left: 50px;
  width: 70%;
}
.slider{
  margin-top: 10px;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}
figure{
  position: relative;
  left: 0;
  width: 400%;
  animation:10s slide infinite ;
}
.slide{
  position: relative;
  width: 25%;
  float: left;
}
.slide img{
  height: 400px;
  border-radius: 10px;
  width: 100%;

}

.image-container-home {
  margin-top: 20px;
  margin-left: 1%;
  display: flex;
  width: 98%;
  height: 300px;
  background-color: azure;
  border-radius: 10px;

}

.image-box-home {
  width: 240px;
  margin: 0px;
  background-color: azure;
}

.image-box-home img {
  width: 160px;
  margin-top: 10px;
  margin: 5px;
  height: 250px; 
  border-radius: 10px;
}
.back a{
  text-decoration: none;
  color: white;
}

.image-box-home span {
  font-size: 14px;
  color: black;
  margin-left: 50px;
  background-color: azure;
}
.bath{
  background-color: #ffefd5;
}
.image-container-home1 {
  margin-top: 20px;
  margin-left: 1%;
  display: flex;

  width: 98%;
  height: 300px;

  border-radius: 10px;

}

.image-box-home1 {
  width: 240px;
  margin: 0px;

}

.image-box-home1 img {
  width: 240px;
  margin-top: 10px;
  margin: 5px;
  height: 250px; 
  border-radius: 10px;
}

.image-box-home1 span {
  font-size: 14px;
  color: black;
  margin-left: 50px;
 
}


@keyframes slide{
  0%{
      left: 0;
  }
  10%{
      left: 0;
  }
  20%{
      left: -100%;
  }
  30%{
      left: -100%;
  }
  40%{
      left: -200%;
  }
  50%{
      left: -200%;
  }
  55%{
      left: -300%;
  }
  65%{
      left:-300%;
  }
  70%{
      left:-200%;
  }
  80%{
      left:-200%;
  }
  85%{
      left:-100%;
  }
  90%{
      left:-100%;
  }
  95%{
      left:0%;
  }
  1000%{
      left:0;
  }
}
.slider{
  margin-top: 10px;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
figure{
  position: relative;
  left: 0;
  width: 400%;
  animation:10s slide infinite ;
}
.slide{
  position: relative;
  width: 25%;
  float: left;
}
.slide img{
  height: 600px;
  width: 100%;

}
@keyframes slide{
  0%{
      left: 0;
  }
  10%{
      left: 0;
  }
  20%{
      left: -100%;
  }
  30%{
      left: -100%;
  }
  40%{
      left: -200%;
  }
  50%{
      left: -200%;
  }
  55%{
      left: -300%;
  }
  65%{
      left:-300%;
  }
  70%{
      left:-200%;
  }
  80%{
      left:-200%;
  }
  85%{
      left:-100%;
  }
  90%{
      left:-100%;
  }
  95%{
      left:0%;
  }
  1000%{
      left:0;
  }
}
.box-content1 p{
  color: black;
}
.back a{
  text-decoration: none;
  color: white;
}
.box-content1 button{
  text-align: center;
  margin-top: 10px;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  height: 20px;
  margin-left: 50px;
  width: 70%;
}
.nav-cart i{
  font-size: 30px;
}
.nav-cart{
  margin-left: 15px;
  font-size: 0.85rem;
  font-weight: 700;
}
.panel{

  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panel-ops p{
  display: inline;
  margin-left: 15px;
}
.panel-all a{
  color: white;
  text-decoration: none ;
}
.panle-ops{
  width: 70%;
  font-size: 0.85rem;

}
.panel-ops a{
  text-decoration: none;
  color: white;
}
.panel-deals{
  font-size: 0.9rem;
  font-weight: 700;
}
 

.shop-section{
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
  border-radius: 10px;
}

.box{
  /* border: 2px solid black; */
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.box-img{
  height: 300px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.box-img img{
   width: auto;
   height: auto;
   max-width: 100%;
   max-height: 100%;
   margin: auto;
   display: block;
   object-fit: cover;

}
.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content p{
  color: #007185;
  text-decoration: none;
}
.box-content a{
  text-decoration: none;
}



.sign_in{
  text-align: center;
  font-size: 13px;
}
.sign_in button{
  background-color: #ffbf00;
    width: 220px;
    border-radius: 5px;
    height: 25px;
    margin-top: 2px;
    border: none;
    color: black;
    font-size: 18px;
}
.sign_in a{
  color: #007185;
}
.back{
  background-color: #222f3d;
  color: white;
  text-align: center;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px
}
.back a{
  text-decoration: none;
  color: white;
}

.box-content p{
  color: black;
}
.box-content button{
  text-align: center;
  margin-top: 10px;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  height: 20px;
  margin-left: 50px;
  width: 70%;
}


.slider{
  margin-left: 10%;
  margin-top: 10px;
  width: 90%;
  height: 400px;
  overflow: hidden;
}
.slide img{
  height: 400px;
  width: 90%;

}
